.container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 7vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}

#value{
    font-size: 15vh;
}

.btn-decrease,.btn-reset,.btn-increase{
    width: 15vh;
    height: 4vh;
    border: 3px solid black;
    border-radius: 7px;
    text-transform: uppercase;
    background-color: white;
}